

html {background: white}
body {background: url(/assets/img/checkerboard.png); overflow-x: hidden;}
div, ul, li, a {box-sizing: border-box;}
img {max-width: 100%;}
.content {max-width: 1200px;}

/* Various */
.large-margin-top {margin-top: 75px;}
.light-background {background: #edf0f8}
.table>tbody>tr>td {vertical-align: middle;}
nav ul {padding-left: 0;}

/* Fonts and Text Colors */
.title {font-family:"Courier New" serif; color: black;}
h1,
h2,
h3,
h4,
h5,
h6 {font-family:"Arial Black", Gadget, sans-serif; color: black;}
div,
p,
em,
strong,
#subtitle,
a,
a:visited,
a:link {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
a,
a:visited,
a:link,
a h4 {font-weight: bold; color: black;}
a:hover,
a h4:hover {color: black;}

/* Font Styles */
h1 {margin: 2em 0 1em;}
p {line-height: 1.4em; margin-bottom: 1em}
.subheader {font-size: 1.6em; margin: 1em 0;}

/* Helpers */
.center {text-align: center; margin: 0 auto;}
.left {float: left;}
.right {float: right;}
.indented {text-indent: 32px;}
.clearfix:after {display: table; content: ''; clear: both;}
.hidden {display: none;}
.no-overflow { overflow: hidden;}

/* Header */
a.title {font-family: Georgia, serif;  font-style: italic; }
a.title:hover {text-decoration: none}
#desktop-header {margin: 25px 0; position: fixed;z-index: 11;}
#desktop-header .title {font-size: 32px;}

#mobile-header .title,
#mobile-header a,
#mobile-header a:visited,
#mobile-header a:hover {color: black;}

#mobile-header {display: none; width: 100%; background: white; position: fixed; top: 0; z-index: 12; color: black; border-bottom: 1px solid black; box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);}
#mobile-header .title {font-size: 24px; padding: 12px; display: table; vertical-align: middle;}
#mobile-header i {padding: 15px; position: absolute;}

#content-cover {position: fixed; top: 0; left: 0; bottom: 0; right: 0;}

#main-navbar {margin: 25px 0; margin-bottom: 1em;position: fixed; right: 0; z-index: 12;}
#main-navbar a {display: table-cell; padding: 15px; text-align: center}

/* Footer */
#footer {width: 100%; text-align: center; margin: 0 auto; padding: 3em 0 1em; position: relative}
#footer p {font-size: .8em; margin: 0 1em 2em 0; }
#footer ul {margin: 0 0 1em; list-style: none; padding: 0; display: inline-block; font-size: .8em;}
#footer ul li {display: table-cell;}
#footer ul li a {margin: 1em; text-align: center; display: block;}

/* Forms */
form {max-width: 560px; margin: 0 auto;}

/* Home page */
.fullscreen,
.fullscreen-video-container {width: 100vw; height: 100vh; }
.fullscreen {z-index: -1; background: url(/assets/img/checkerboard.png);}
.fullscreen-video-container {overflow: hidden; margin: 0 -15px;}
.fullscreen-video-container #fullscreen-video {min-width: 100%; min-height: 100%; width: auto; height: auto;}
.fullscreen-video-container .video-controls {position: absolute; bottom: 8px; left: 50%; margin-left: -20px; background: white; opacity: .5}
.fullscreen-video-container .video-controls img {margin: 8px;}
.fullscreen-video-container .video-controls img:hover {cursor: pointer;}
.fullscreen-video-container #slogan {position: absolute; top: 50%; text-align: center; width: 100%; color: black; font-size: 32px; font-family: Arial, Helvetica, sans-serif; font-style: italic;}


/* Media queries */
@media screen and (min-width: 768px) {
	#main-navbar {display: block !important;}
}

@media screen and (max-width: 767px) {
	/* Header */
	#desktop-header {display: none;}
	#mobile-header {display: block;}

	#main-navbar {display: none; top: 58px; bottom: 0; left: -240px; width: 240px; margin: 0; background: white; border-top: solid 1px black;}
	#main-navbar a {display: block; border-bottom: solid 1px black;}

	#content-cover {display: none;  background-color: rgba(32, 32, 32, .5); z-index: 10;}

	#content {margin-top: 58px;}
	.fullscreen-video-container {margin-top: -58px;}

	/*.fullscreen-video {display: none;}*/

}

@media screen and (max-width: 640px) {
}


@media screen and (max-width: 480px) {
	.col-xxs-6 {width: 50%;}
	.col-xxs-12 {width: 100%;}
	.col-xxs-offset-3 {margin-left: 25%;}
}

@media screen and (max-height: 400px) and (min-width: 400px) {
}
